* {
        font-family: 'Raleway', sans-serif;

}


 /* Navigation Bar */

nav {color: black;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    font-style: 300;
    display: inline-block;
    width: 100%;
    align-content: center;
    padding-left: clear;
    

}


/* Link styling */

a:link {
    color: black;
    text-decoration: none;
    padding: 20px;
    width: 100%;
    margin: 10px;
    text-align: center;
    align-content: center;
    background-color: #A5DBE3;

}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
     background-color: rgba(255, 222, 166, 0.3);
         
}

a:active {
    color: black;
    text-decoration: none;
}



/* Centering text content on About, Contact, Location, Treatment, and Financials pages. */

div {
    align-content: center;
    text-align: center;
 
}


/* Title */

h1 {
    position: absolute;
    top: 270px;
    left: 0;
    width: 100%;
    font-size: 55px;
    font-style: 500;
    color: black;
}


/* Scroll Arrow on index.html */

.arrow { 
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    font-size: 23px;
    font-style: 300;
    color: black;
}


/* Main title waterfall image on index.html */

.one {
    padding: 0px;
   clear: left;
    max-width: 100%;
    max-height: 100%;
    opacity: .50;
}



/* Header text */

h2 {
    font-size: 55px;
    font-style: 500;
    color: black;
    align-content: center;
}


/* Text  */

h3 {
    font-size: 30px;
    font-style: 400;
    color: black;
    align-content: center;
    
}


/* About page text */

.about {
    width: 100%;
    font-size: 23px;
    font-style: 300;
    color: black;
      
}

/* Listed items */

li {
    font-size: 25px;
    list-style-type: none;    
}

/* Search bar */

form {
    float: right;
    padding-right: 150px;
    
}

/* Google map on Location page */

iframe {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

