* {
        font-family: 'Raleway', sans-serif;

}

nav {color: black;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    font-style: 300;
    display: inline-block;
    width: 100%;
    align-content: center;
       background-color: #A5DBE3;
    padding-left: clear;
    

}

a:link {
    color: black;
    text-decoration: none;
    padding: 20px;
    width: 100%;
    margin: 10px;
    text-align: center;
    align-content: center;

}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
     background-color: rgba(255, 222, 166, 0.3);
         
}

a:active {
    color: black;
    text-decoration: none;
}



body {
    

}


div {
    align-content: center;
    text-align: center;
 
}

h1 {
    position: absolute;
    top: 270px;
    left: 0;
    width: 100%;
    font-size: 55px;
    font-style: 500;
    color: black;

}

.arrow { 
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    font-size: 23px;
    font-style: 300;
    color: black;
}

.one {
    padding: 0px;
   clear: left;
    max-width: 100%;
    max-height: 100%;
    opacity: .50;
}

blockquote {
    font-size: 40px;
    font-style: 300;
    width: 600px; margin: 0px auto 0px auto;
    padding: 35px;
    
}

.profile {
    padding: 20px;

}

figcaption {
    color: black;
    font-style: italic;
    font-size: 20px;
    padding: 15px;
}


h2 {
    font-size: 55px;
    font-style: 500;
    color: black;
}


h3 {
    font-size: 30px;
    font-style: 400;
    color: black;
    align-content: center;
    
}


.description {
    font-size: 23px;
    font-style: 300;
    color: pink;
    align-content: center;
    vertical-align: baseline;
    padding: 10px;
    margin: auto;
    align-content: bottom;
}


.about {
    width: 100%;
    font-size: 23px;
    font-style: 300;
    color: black;
      
}

li {
    font-size: 25px;
    list-style-type: none;    
}


form {
    float: right;
    padding-right: 60px;
    
}



